<div class="aside">
    <ul>
        <li  data-where="allList"  data-whereInfo = "allInfo"> <span class="iconfont icon-home"></span>首页</li>
        <li data-where="texiaoList"  data-whereInfo = "texiaoInfo"> <span  class="iconfont icon-aixin"></span>插件</li>
        <li data-where="h5c3List"  data-whereInfo = "h5c3Info"><span  class="iconfont icon-WEBqianduan"></span>h5c3</li>
        <li data-where="jsList"  data-whereInfo = "jsInfo"><span  class="iconfont icon-JS"></span>JS</li>
        <li data-where="vueCliList"  data-whereInfo = "vueCliInfo"><span   class="iconfont icon-Vue"></span>Vue-cli</li>
        <li data-where="es6List"  data-whereInfo = "es6Info" ><span class="iconfont icon-wenjianjia"></span>常见配置</li>
        <li data-where="bugList"  data-whereInfo = "bugInfo"><span  class="iconfont icon-emizhifeiji"></span>BUG</li>
        <li data-where="pointList"  data-whereInfo = "pointInfo"><span class="iconfont icon-WEBqianduan"></span>point</li>
        <li id="aboutBlog"><span class="iconfont icon-guanyu"></span>关于博客</li>
        <li><span data-where=""  data-whereInfo = ""  class="iconfont icon-yonghu1"></span>用户登录</li>
    </ul>
</div>