<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <?php include('./views/public/style.html');?>
    <!-- 测试 -->
    <title>你好,世界</title>
    <style>
        label.error {
            color: red;
        }
    </style>
</head>

<body>

    <div class="total">
        <!--770以下的 侧边栏 -->
        <?php include('./views/public/phoneAside.html');?>

        <div class="body">
            <!-- 导航栏 -->
            <?php include('./views/public/head.html');?>
            <!-- 中间内容 -->
            <main class="blogNotesMain">
                <!-- 左边 -->
                <div class="left3">
                    <!-- 知识点列表提交 -->
                    <div class="listSubmit">
                        <div class="listSubmitTittle">
                            列表提交
                        </div>


                        <form class="form-horizontal listSubmit">

                            <div class="form-group">
                                <label for="keywords" class="col-sm-2 control-label">keywords</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="keywords" name="keywords"
                                        placeholder="keywords">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="showImg" class="col-sm-2 control-label">showImg</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="showImg" name="showImg"
                                        placeholder="showImg">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tittle" class="col-sm-2 control-label">tittle</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="tittle" name="tittle"
                                        placeholder="tittle">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="content" class="col-sm-2 control-label">content</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="content" name="content"
                                        placeholder="content">
                                </div>
                            </div>

                            <div class="form-group">

                                <label for="date" class="col-sm-2 control-label">date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="date" name="date"
                                        placeholder="date">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="temperature" class="col-sm-2 control-label">temperature</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="temperature" name="temperature"
                                        placeholder="temperature">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="surport" class="col-sm-2 control-label">surport</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="surport" name="surport"
                                        placeholder="surport">
                                </div>
                            </div>


                            <button type="submit" class="btn btn-success pull-right">提交到数据库</button>

                        </form>
                    </div>


                    <!-- 知识点详情提交 -->
                    <div class="infoSubmit">
                        <div class="listSubmitTittle">
                            详情提交
                        </div>


                        <form class="form-horizontal infoSubmit">

                            <div class="form-group">
                                <label for="keywords" class="col-sm-2 control-label">keywords</label>
                                <div class="col-sm-10">
                                    <input type="text" 
                                           class="form-control" 
                                           id="keywords"
                                           name="keywords" 
                                           placeholder="keywords">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tittle" class="col-sm-2 control-label">tittle</label>
                                <div class="col-sm-10">
                                    <input type="text" 
                                           class="form-control" 
                                           id="tittle"
                                           name="tittle"
                                           placeholder="tittle">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="date" class="col-sm-2 control-label">date</label>
                                <div class="col-sm-10">
                                    <input type="text" 
                                           class="form-control" 
                                           id="date"
                                           name="date" 
                                           placeholder="date">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="looked" class="col-sm-2 control-label">looked</label>
                                <div class="col-sm-10">
                                    <input type="text" 
                                           class="form-control" 
                                           id="looked"
                                           name="looked"
                                           placeholder="looked">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success pull-right">提交数据到数据库</button>
                        </form>

                    </div>

                    <!-- steps -->
                    <ul class="steps">
                        <li>
                            <div class="stepsTittle">
                                step1
                            </div>


                            <form class="form-horizontal step1">

                                <div class="form-group">
                                    <label for="step" class="col-sm-2 control-label">step</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="step"
                                               name="step" 
                                               placeholder="step">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tittle" class="col-sm-2 control-label">tittle</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control" 
                                               id="tittle"
                                               name="tittle"
                                               placeholder="tittle">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descTop" class="col-sm-2 control-label">descTop</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descTop"
                                               name="descTop"
                                               placeholder="descTop">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="img" class="col-sm-2 control-label">img</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="img"
                                               name="img"
                                               placeholder="img">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="wordpress" class="col-sm-2 control-label">wordpress</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="wordpress"
                                               name="wordpress"
                                               placeholder="wordpress">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descBottom" class="col-sm-2 control-label">descBottom</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descBottom"
                                               name="descBottom"
                                               placeholder="descBottom">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success pull-right">下一步</button>

                            </form>
                        </li>

                        <li>
                            <div class="stepsTittle">
                                step2
                            </div>


                            <form class="form-horizontal step2">

                                <div class="form-group">
                                    <label for="step" class="col-sm-2 control-label">step</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="step"
                                               name="step" 
                                               placeholder="step">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tittle" class="col-sm-2 control-label">tittle</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control" 
                                               id="tittle"
                                               name="tittle"
                                               placeholder="tittle">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descTop" class="col-sm-2 control-label">descTop</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descTop"
                                               name="descTop"
                                               placeholder="descTop">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="img" class="col-sm-2 control-label">img</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="img"
                                               name="img"
                                               placeholder="img">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="wordpress" class="col-sm-2 control-label">wordpress</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="wordpress"
                                               name="wordpress"
                                               placeholder="wordpress">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descBottom" class="col-sm-2 control-label">descBottom</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descBottom"
                                               name="descBottom"
                                               placeholder="descBottom">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success pull-right">下一步</button>

                            </form>
                        </li>
                        
                        <li>
                            <div class="stepsTittle">
                                step3
                            </div>


                            <form class="form-horizontal step3">

                                <div class="form-group">
                                    <label for="step" class="col-sm-2 control-label">step</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="step"
                                               name="step" 
                                               placeholder="step">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tittle" class="col-sm-2 control-label">tittle</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control" 
                                               id="tittle"
                                               name="tittle"
                                               placeholder="tittle">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descTop" class="col-sm-2 control-label">descTop</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descTop"
                                               name="descTop"
                                               placeholder="descTop">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="img" class="col-sm-2 control-label">img</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="img"
                                               name="img"
                                               placeholder="img">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="wordpress" class="col-sm-2 control-label">wordpress</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="wordpress"
                                               name="wordpress"
                                               placeholder="wordpress">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descBottom" class="col-sm-2 control-label">descBottom</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descBottom"
                                               name="descBottom"
                                               placeholder="descBottom">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success pull-right">下一步</button>

                            </form>
                        </li>

                        <li>
                            <div class="stepsTittle">
                                step4
                            </div>


                            <form class="form-horizontal step4">

                                <div class="form-group">
                                    <label for="step" class="col-sm-2 control-label">step</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="step"
                                               name="step" 
                                               placeholder="step">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tittle" class="col-sm-2 control-label">tittle</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control" 
                                               id="tittle"
                                               name="tittle"
                                               placeholder="tittle">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descTop" class="col-sm-2 control-label">descTop</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descTop"
                                               name="descTop"
                                               placeholder="descTop">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="img" class="col-sm-2 control-label">img</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="img"
                                               name="img"
                                               placeholder="img">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="wordpress" class="col-sm-2 control-label">wordpress</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="wordpress"
                                               name="wordpress"
                                               placeholder="wordpress">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descBottom" class="col-sm-2 control-label">descBottom</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descBottom"
                                               name="descBottom"
                                               placeholder="descBottom">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success pull-right">下一步</button>

                            </form>
                        </li>


                        <li>
                            <div class="stepsTittle">
                                step5
                            </div>


                            <form class="form-horizontal step5">

                                <div class="form-group">
                                    <label for="step" class="col-sm-2 control-label">step</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="step"
                                               name="step" 
                                               placeholder="step">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tittle" class="col-sm-2 control-label">tittle</label>
                                    <div class="col-sm-10">
                                        <input type="text"
                                               class="form-control" 
                                               id="tittle"
                                               name="tittle"
                                               placeholder="tittle">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descTop" class="col-sm-2 control-label">descTop</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descTop"
                                               name="descTop"
                                               placeholder="descTop">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="img" class="col-sm-2 control-label">img</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="img"
                                               name="img"
                                               placeholder="img">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="wordpress" class="col-sm-2 control-label">wordpress</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="wordpress"
                                               name="wordpress"
                                               placeholder="wordpress">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="descBottom" class="col-sm-2 control-label">descBottom</label>
                                    <div class="col-sm-10">
                                        <input type="text" 
                                               class="form-control" 
                                               id="descBottom"
                                               name="descBottom"
                                               placeholder="descBottom">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success pull-right">下一步</button>

                            </form>
                        </li>
                    </ul>


                </div>
                <!-- 侧边栏  -->
                <?php include('./views/public/aside.html');?>
            </main>
            <!-- 页脚 -->
            <?php include('./views/public/foot.html');?>
        </div>
    </div>
    <?php include('./views/public/script.html');?>
    <script>
        require(['../js/blogNotes']);
    </script>
</body>

</html>